@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    
    <h1 class="text-center display-4 fw-bold">Welcome to EventEase</h1>
    <p class="text-center display-7 fw-medium">Plan, organize, and manage your events with ease and style.</p>


<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm frosted-card card-hover-effect">
                <div class="card-body">
                    <h5 >Find Venues</h5>
                    <p class="card-text">Browse and book from a list of available venues for your event.</p>
                    <a href="/Venues" class="btn btn-outline-primary card-text">Browse Venues</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm frosted-card card-hover-effect">
                <div class="card-body">
                    <h5 >Manage Events</h5>
                    <p class="card-text">Edit, update or cancel your events at any time.</p>
                    <a href="/Events" class="btn btn-outline-primary">My Events</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm frosted-card card-hover-effect">
                <div class="card-body">
                    <h5 >Make a Booking</h5>
                    <p class="card-text">Easily make a booking for your desired venues and events.</p>
                    <a href="/Bookings" class="btn btn-outline-primary">View Bookings</a>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>